/*______________

CSS Restaurant 
style_mobile.css
pour les mobiles
________________*/


@media screen and (max-width: 960px){
    .barre_noir_transparent img{
        display: none;
        transition: 1s;
    }  
    .barre_noir_transparent img.cacher{
        display: block;
        width: 200px;
        height: 200px;
        transition: 1s;
        border-radius: 50%;
        border: solid 20px rgba(0,0,0,0.5);
        box-shadow: 0 10px 10px rgba(0,0,0,1);
    }  
}
@media screen and (max-width: 960px){
    .barre_noir_transparent{
        height: 100%;
        transition: 0.5s;
    }
    .barre_noir_transparent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .barre_noir_transparent h1{
        font-size: 2em;
        font-weight: bold;
    }
}
@media screen and (max-width: 760px) {
    form #reservation img{
        width: 120px;
        transition: 1s;
        border-radius: 50%;
        border: solid 10px rgba(0,0,0,0.5);
        box-shadow: 0 10px 10px rgba(0,0,0,1);
        opacity: 1;
    }
}


